.form-contact {
    max-width: 1076px;
    background: white;
    box-shadow: 0px 0px 50px rgba(103, 103, 103, 0.07);
    border-radius: 16px;
}

.form-demo {
    max-width: 495px;
    background: white;
    box-shadow: 0px 0px 50px rgba(103, 103, 103, 0.07);
    border-radius: 16px;
}

.main-bg {
    background-image: url(../images/background/bg-main.svg);
}

.input-text {
    width: 100%;
    display: block;
    padding: 16px 24px;
    border: 1px solid var(--unactive-1);
    border-radius: 8px;
    background: white;
    cursor: pointer;
    margin-top: 8px;
}

.input-checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

select {
    padding: 16px 24px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    cursor: pointer;
}

textarea {
    width: 100%;
    max-height: 215px;
    min-height: 215px;
    padding: 16px 0 0 24px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
}

@media(max-width: 1024px) {
    .main-bg {
        background-image: none;
    }
}

@media(max-width: 991px) {
    .input-text, textarea {
        font-size: 14px;
    }

    .input-checkbox {
        width: 16px;
        height: 16px;
    }
}