.main-bg {
    background-image: url(../images/background/bg-main.svg);
}

.description-item {
    padding: 24px 24px 40px 24px;
    background: white;
    border-radius: 16px;
    box-shadow: 0px 0px 50px rgba(103, 103, 103, 0.07);
}

.bg-early-access {
    padding: 115px 0 90px 0;
    width: 100%;
    background-image: url("../images/background/early-access-1.svg"), url("../images/background/early-access-2.svg"), linear-gradient(39.53deg, #01D088 -6.85%, #00D5F0 114.25%);
    background-position: bottom left, top right;
    background-repeat: no-repeat;
    border-radius: 32px;
}

.platform-bg-info {
    width: 100%;
    background: var(--gray);
}

.icon-dark-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60px;
    max-width: 60px;
    padding: 18px;
    background: #3A3A3A;
    border-radius: 100%;
}

.icon-dark-bg > img {
    max-width: none;
}

@media(max-width: 1280px) {
    .bg-early-access {
        padding: 40px 24px 40px 24px;
    }
}

@media(max-width: 1024px) {
    .main-bg {
        background-image: none;
    }

    .bg-early-access {
        background-image: linear-gradient(39.53deg, #01D088 -6.85%, #00D5F0 114.25%);
        height: 100%;
    }
}

@media(max-width: 641px) {
    .bg-early-access {
        border-radius: 0;
    }
}